<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
		<h4 class="title">Inserisci una nuova attivita</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/attivita}" method="POST" th:object="${attivita}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Data e Ora:</td>
				<td><input type="text" th:field="*{data_ora}" /></td>
				<td th:if="${#fields.hasErrors('data_ora')}" th:errors="*{data_ora}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>