<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
    	<h4>Elenco Attivita</h4>
		<div>
			<table>
				<tr>
					<th>Name</th>
				</tr>
				<tr th:each="attivita: ${attivitas}">
					<td><a th:href="@{'/attivita' + '/' + ${attivita.id}}"><span th:text="${attivita.name}"></span></a></td>					
                </tr>
                
            </table>
   		</div>
    </div>
</body>
</html>