<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Allievo Form</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>

	<div id="heading">
		<h1>ACME FORMAZIONE</h1>
	</div>

	<section id="main" class="wrapper">

		<div class="inner">
			<div class="content">
				<div id="centrato" class="col-6 col-12-medium">
					<p th:text="${exists}"></p>
					<h4>Inserimento nuovo allievo:</h4>
					<form th:action="@{/allievo}" method="POST" th:object="${allievo}">
						<div class="row gtr-uniform ">
							<div id ="centrato">
								<div>
									<span>Nome:</span> <span><input type="text"
										th:field="*{nome}" /> </span> <span
										th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
								</div>
								<div>
									<span>Cognome:</span> <span><input type="text"
										th:field="*{cognome}" /> </span> <span
										th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
								</div>
								<div>
									<span>Email:</span> <span><input type="text"
										th:field="*{email}" /> </span> <span
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								</div>
								<div>
									<span>Telefono:</span> <span><input type="text"
										th:field="*{telefono}" /> </span>
								</div>
								<div>
									<span>Data Di Nascita:</span> <span><input type="date"
										th:field="*{dataNascita}" /> </span> <span
										th:if="${#fields.hasErrors('dataNascita')}"
										th:errors="*{dataNascita}"></span>
								</div>
								<div>
									<span>Luogo Di Nascita:</span> <span><input type="text"
										th:field="*{luogoNascita}" /> </span> <span
										th:if="${#fields.hasErrors('luogoNascita')}"
										th:errors="*{luogoNascita}"></span>
								</div>
								<div>
									<button type="submit" style="display: block; margin: 0 auto; width: 100px;">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>