<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Allievi</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>
	<div id="heading">
		<h1>Acme Formazione</h1>
	</div>
	<section id="main" class="wrapper">
	<h4>Elenco Allievi:</h4>
		<div>
			<table>
				<tr>
					<th>Nome Allievo</th>
				</tr>
				<tr th:each="allievo : ${allievi}">
					<td><a th:href="@{'/allievo' + '/' + ${allievo.id}}"><span
							th:text="${allievo.nome}"></span></a></td>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>