<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<title>lista Attivita Dettagliata </title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>
	
	<div id="heading">
		<h1>Acme Formazione</h1>
	</div>
	<section id="main" class="wrapper">
	<h4>Attività registrate nel centro:</h4>
		<div>
			<table>
				<tr>
					<th>Nome</th>
					<th>Data e Ora</th>
					<th>Numero Partecipanti</th>
				</tr>
				<tr th:each="attivita: ${attivitaCentro}">
					<td><span th:text="${attivita.nome}"></span></td>
					<td><span th:text="${attivita.data_ora}"></span></td>
					<td><span th:text="${#lists.size(attivita.allievi)}"></span></td>					
                </tr>      
            </table>
   		</div>
    </section>
</body>
</html>