<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/main.css" />
	<title>Lista Attivita</title>
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>
	<div id="heading">
			<h1>ACME FORMAZIONE</h1>
	</div>
	<section id="main" class="wrapper">
		<div>
			<h4>Elenco delle Attivita:</h4>
				<table>
					<tr>
						<th>Name</th>
					</tr>
					<tr th:each="attivita: ${attivitaCentro}">
						<td><a th:href="@{'/attivita' + '/' + ${attivita.id}}"><span th:text="${attivita.nome}"></span></a></td>					
	                </tr>    
	            </table>
	        </div>
</body>
</html>