<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/main.css" />
<title>Allievo Form</title>
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a> 
	</header>
	<div id="heading">
		<h1 class="title">ACME FORMAZIONE</h1>
	</div>
		<section id="main" class="wrapper">
			<div class="inner">
				<div class="content">
					<div id="centrato" class="col-6 col-12-medium">
						
						<div>
							<h4>Inserisci una nuova attivita</h4>
							<p th:text="${exists}"></p>
						</div>
						
						<form th:action="@{/attivita}" method="POST"
							th:object="${attivita}">
							<div class="row gtr-uniform ">
								<div class="col-6">
									<div>
										<span>Nome:</span> <span><input type="text"
											th:field="*{nome}" /></span> <span
											th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
									</div>
									<div>
										<span>Data e Ora:</span> <span><input type="date"
											th:field="*{data_ora}" /></span> <span
											th:if="${#fields.hasErrors('data_ora')}"
											th:errors="*{data_ora}"></span>
									</div>
									<div>
										<span><button class="button" type="submit" style="display: block; margin: 0 auto; width: 100px;">Submit</button></span>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</section>
</body>
</html>