<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Homepage Amministratore</title>
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="template/assets/css/font-awesome.min" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/homeAmministratore}">Home</a> <a
			class="logo" th:href="@{/logout}"><span sec:authentication="name"></span>
			Logout</a>
	</header>
	<div id="heading">
		<h1>Acme Formazione</h1>
	</div>
	<section class="wrapper">
		<div class="inner">
			<div class="highlights">
				<section>
					<div class="content">
						<header>
							<a th:href="@{/listAllievi}" class="icon fas fa-book"><span
								class="label">Icon</span></a>
							<h3>Elenco Allievi Iscritti</h3>
						</header>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a th:href="@{/toResponsabileForm}" class="icon fas fa-edit"><span
								class="label">Icon</span></a>
							<h3>Inserisci nuovo Responsabile</h3>
						</header>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a th:href="@{/monitoraCentri}" class="icon fas fa-archive"><span
								class="label">Icon</span></a>
							<h3>Monitora Centri</h3>
						</header>
					</div>
				</section>
				<div class="special" id="centrato">
					<h4>Via Acme 1, Roma</h4>
				</div>
			</div>
	</section>
</body>
</html>