<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Home Page Resposabile</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a> <a class="logo"
			th:href="@{/logout}"><span sec:authentication="name"></span>
			Logout</a>
	</header>
	<div id="heading">
		<h1>ACME FORMAZIONE</h1>
	</div>
	<section class="wrapper">
		<span th:text="${capienzaMax}"></span>
		<div class="inner">
			<div class="highlights">

				<section>
					<div class="content">
						<header>
							<a th:href="@{/addAllievo}" class="icon fas fa-address-card"><span
								class="label">Icon</span></a>
							<h3>Inserisci un nuovo allievo</h3>
						</header>
					</div>
				</section>

				<section>
					<div class="content">
						<header>
							<a th:href="@{/verificaCapienza}" class="icon fas fa-edit"><span
								class="label">Icon</span></a>
							<h3>Registra Allievo ad un attivita</h3>
						</header>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a th:href="@{/addAttivita}" class="icon fas fa-plus"><span
								class="label">Icon</span></a>
							<h3>Aggiungi un attività</h3>
						</header>
					</div>
				</section>

				<section>
					<div class="content">
						<header>
							<a th:href="@{/listAttivita}" class="icon far fa-file"><span
								class="label">Icon</span></a>
							<h3>Elenco delle attivita</h3>
						</header>
					</div>
				</section>
			</div>
			<div class="special" id="centrato">
				<h4>Via Acme 1, Roma</h4>
			</div>
		</div>
	</section>
</body>
</html>