<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Centri</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>
	
	<div id="heading">
		<h1>Acme Formazione</h1>
	</div>

	<section id="main" class="wrapper">
	    <div>
	    	<h4>Centri:</h4>
			<div>
				<table>
					<tr>
						<th>Nome</th>
					</tr>
					<tr th:each="centro : ${centri}">
						<td><a th:href="@{'/mostraAttivitaCentro' + '/' + ${centro.id}}"><span th:text="${centro.nome}"></span></a></td>					
	                </tr>
	            </table>
	   		</div>
	    </div>
	</section>
</body>
</html>
