<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="assets/css/main.css" />

</head>
<body class="is-preload">
	<header id="header"></header>
	<div id="heading">
		<h1>Benvenuto in Acme Formazione</h1>
	</div>
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="special">
				<a th:href="@{/loginSpring}"><h3>Effettua Login</h3></a>
				<br>
				<br>
				<br>
				<br>
				<a th:href="@{/loginSpring}"><h4>ACME FORMAZIONE</h4></a>
				<h4>Via Acme 1, Roma</h4>
			</div>
		</div>
	</section>

</body>


</html>