<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="assets/css/main.css" />
<title>Login Page</title>
</head>
<body>
	<header id="header">
		<a class="logo" th:href="@{/index}">Home</a>
	</header>
	<div id="heading">
		<h1 class="h1">ACME FORMAZIONE</h1>
	</div>
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">
				<h2 align="center">Login:</h2>
				<div id="centrato" class="col-6 col-12-medium">
					<div th:if="${param.error}">Nome utente o password errati!</div>
					<div th:if="${param.logout}">Hai effettuato il logout. A
						presto!</div>

					<form th:action="@{/loginSpring}" method="post">
						<div class="row gtr-uniform">
							<div id="centrato" class="col-6" align="center">
								<div>
									<label>Username : <input type="text" name="username" /></label>
								</div>
								<div>
									<label>Password: <input type="password" name="password" /></label>
								</div>
								<div>
									<input class="button" type="submit"
										style="display: block; margin: 0 auto; width: 100px;"
										value="Entra" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="special">
				<a th:href="@{/loginSpring}"><h4>ACME FORMAZIONE</h4></a>
				<h4>Via Acme 1, Roma</h4>
			</div>
	</section>
</body>
</html>