<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Registrazione Effettuata</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>
	<div id="heading"></div>
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">
				<div class="col-6 col-12-medium">
					<h1>Registrazione effettuata con successo!</h1>
				</div>
			</div>
			</div>			
	</section>
</body>
</html>