<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Lista Responsabili</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>
	
	<div id="heading">
		<h1>Lista Responsabili</h1>
	</div>
	
	<section id="main" class="wrapper">
	    <div>
	    	<h4>Responsabili</h4>
			<div>
				<table>
					<tr>
						<th>Nome Responsabile</th>
					</tr>
					<tr th:each="resp : ${responsabili}">
						<td><a th:href="@{'selectResponsabile' + '/' + ${resp.id}}"><span th:text="${resp.nome}"></span></a></td>			
	                </tr>
	            </table>
	   		</div>
	    </div>
	</section>
</body>
</html>