<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Responsabile Form</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>

	<div id="heading">
		<h1>ACME FORMAZIONE</h1>
	</div>

	<section id="main" class="wrapper">

		<div class="inner">
			<div class="content">
				<div class="col-6 col-12-medium">
					<p th:text="${exists}"></p>
					<form th:action="@{/addResponsabile}" method="POST"	th:object="${responsabile}">
						<div class="row gtr-uniform ">
							<div id="centrato" class="col-6">
								<h4>Inserimento nuovo Responsabile</h4>
								<div>
									<span>Nome:</span> <span><input type="text"
										th:field="*{nome}" /> </span> <span
										th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
								</div>
								<div>
									<span>Cognome:</span> <span><input type="text"
										th:field="*{cognome}" /> </span> <span
										th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
								</div>
								<div>
									<span>Email:</span> <span><input type="text"
										th:field="*{email}" /> </span> <span
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								</div>
								<div>
									<span>Username:</span> <span><input type="text"
										th:field="*{username}" /> </span>
										<span
										th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
								</div>
								<div>
									<span>Password:</span> <span><input type="password"
										th:field="*{password}" /> </span>
										<span
										th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
										
								</div>
								<div>
									<span>Ruolo:</span> <select name="ruolo" th:field = "*{role}">
										<option value="USER" selected>USER</option>
										<option value="ADMIN">ADMIN</option>
									</select>
								</div>
								<div>
									<span>Centro:</span> <span><input type="text"
										th:field="*{centro}" /> </span>
								</div>

								<div>
									<button type="submit" style="display: block; margin: 0 auto; width: 100px;">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>