<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Scelta attivita</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>

	<div id="heading">
		<h1>ACME FORMAZIONE</h1>
	</div>

	<section id="main" class="wrapper">
		<div class="inner">
			<h3>Registrazione allievo all'attività</h3>
			<div class="content">
				<div id="centrato">
					<div>
						<p th:text="${exists}"></p>
						<h4>Seleziona l'attivita:</h4>
						<form th:action="@{/partecipazioneAttivita}" method="POST">
							<div class="row gtr-uniform">
								<div class="col-6" id="centrato">
									<div>
										<span>Nome:</span> <span> <select name="idAttivita">
												<span th:each="a: ${elencoAttivita}">
													<option th:value="${a.id}"><span
															th:text="${a.nome}"></span></option>
											</span>
										</select>
										</span>
									</div>
									<br>
									<div>
										<span><button class="button" type="submit"
												style="display: block; margin: 0 auto; width: 100px;">Submit</button></span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>