<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Dettagli Attivita</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>

	<div id="heading">
		<div>
			<h1>ACME FORMAZIONE</h1>
		</div>
	</div>

	<section id="main" class="wrapper">

		<div th:object="${attivita}">
			<table>
				<tr>
					<th>Attivita:</th>
				</tr>
				<tr>
					<td>
						<div>
							Nome : <span th:text="*{nome}"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							Data e Ora di Svolgimento : <span th:text="*{data_ora}"></span>
						</div>
					</td>
				</tr>
			</table>

			<div th:unless="${#lists.isEmpty(attivita.allievi)} ">
				<table>
					<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>Data di Nascita</th>
						<th>Luogo di Nascita</th>
						<th>email</th>
						<th>Telefono</th>
					</tr>
					<tr th:each="allievo : *{allievi}">
						<td><span th:text="${allievo.nome}"></span></td>
						<td><span th:text="${allievo.cognome}"></span></td>
						<td><span th:text="${allievo.dataNascita}"></span></td>
						<td><span th:text="${allievo.luogoNascita}"></span></td>
						<td><span th:text="${allievo.email}"></span></td>
						<td><span th:text="${allievo.telefono}"></span></td>
					</tr>
				</table>

			</div>
		</div>
	</section>
</body>
</html>