<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Allievo</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">
	<header id="header">
		<a class="logo" th:href="@{/toHome}">Home</a>
	</header>

	<div id="heading">
		<h1>ACME FORMAZIONE</h1>
	</div>

	<section id="main" class="wrapper">
		<div th:object="${allievo}">
			<div>
				<table>
					<tr>
						<th>Allievo</th>
					</tr>
					<tr>
						<td>
							<div>
								Nome :<span th:text="*{nome}"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								Cognome :<span th:text="*{cognome}"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								Email :<span th:text="*{email}"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								Telefono :<span th:text="*{telefono}"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>

							<div>
								Data di nascita :<span th:text="*{dataNascita}"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								Luogo di nascita :<span th:text="*{luogoNascita}"></span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
 
		<div th:unless="${#lists.isEmpty(attivitaAllievo)} ">
			<h3>Elenco delle attivita</h3>
			<table>
				<tr>
					<th>Nome</th>
					<th>Centro</th>
					<th>Data di svolgimento</th>
				</tr>
				<tr th:each="a : ${attivitaAllievo}">
					<td><span th:text="${a.nome}"></span></td>
					<td><span th:text="${a.centro.nome}"></span></td>
					<td><span th:text="${a.data_ora}"></span></td>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>