<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Inserisci un allievo</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/allievo}" method="POST" th:object="${allievo}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" /></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td>email:</td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input type="text" th:field="*{telefono}" /></td>
			</tr>
			<tr>
				<td>Data di Nascita:</td>
				<td><input type="text" th:field="*{dataNascita}" /></td>
				<td th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></td>
			</tr>
			<tr>
				<td>Luogo di Nascita:</td>
				<td><input type="text" th:field="*{luogoNascita}" /></td>
				<td th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>